/* ##### Layout Common ##### */
.layout-common-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px;
}

.layout-common-header-content {
    display: -ms-inline-grid;
    display: inline-grid;
    margin-left: 20px;
}

.layout-common-header-title {
    color: #42A7C2;
    font-size: 26px;
    text-decoration: none;
}

.layout-common-header-text {
    color: #333;
    font-size: 16px;
    cursor: default;
}

/* ##### Title-guide ##### */
.guide {

}

.guide-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
}

.guide-item {
    max-width: 100%;
    height: 145px;
    border-radius: 10px;
    border: 1px solid #42A7C2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 44px;
}

.guide-item-wrap {
    text-align: center;
    text-decoration: none;
}

.guide-item-text {
    margin-top: 16px;
    font-size: 18px;
    color: #42A7C2;
}

.output {
    
}

.output-wrap {
    width: 100%;
    margin-top: 16px;
}

.output-section-header {
    width: 100%;
    border-top: 1px solid #42A7C2;
}

.output-section-header a {
    padding-top: 16px;
    padding-right: 20px;
    display: inline-block;
    border-top: 3px solid #42A7C2;
    color: #42A7C2;
    font-size: 20px;
    text-decoration: none;
}

.output-section {
    margin-bottom: 46px;
}

.output-grid {
    margin-top: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.output-item {
    padding: 23px 0;
    border-radius: 8px;
    background-color: #EAF1F7;
    text-align: center;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.output-item:hover {
    background-color: #d2e9ff;
}

.output-text {
    font-size: 16px;
    color: #42A7C2;
}

.output-item-image {
    height: 65px;
}

.output-text {
    margin-top: 26px;
}

.function {
    margin-top: 92px;
    margin-bottom: 145px;
}

.funtion-grid {
    margin-top: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.funtion-item {
    border-top: 1px solid #42A7C2;
}

.function-item-header a {
    display: inline-block;
    border-top: 3px solid #42A7C2;
    padding: 16px 10px 16px 0;
    text-decoration: none;
    color: #42A7C2;
}

.function-item-li {
    margin: 10px 0 10px 13px;
    color: #42A7C2;
    list-style-type: '・';  

}

.function-item-li a {
    font-size: 16px;
    margin: 6px 0;
    color: #42A7C2;  
    text-decoration: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .header-search-form {
        margin-left: 16px;
    }
    .header-search-input {
        width: 335px;
    }    
}

@media only screen and (max-width: 1024px) {
    .guide-grid {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .output-grid {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 600px) {
    .header-search-input {
        /* width: 532px; */
        padding: 16px 95px 16px 48px;
    }
    button.header-search-btn {
        position: absolute;
        right: 6px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        padding: 10px 20px;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .header-search-label {
        /* display: none; */
    }

    .guide-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .output-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .funtion-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}